
body {
	font-family: 'Muli Light', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background: white;
    color: #231f20;
}

a {
    font-weight: bold;
    color: #FFB6C1;
}

a:hover {
    color: #FFB6C1;
}

a:visited {
  color: gray;
}

small {
    color: #231f20;
}

h2 {
    color: #231f20;
}

h1 {
    color: #231f20;
    font-family: 'Muli Light', sans-serif;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 18px;
    color: #231f20;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h4 {
    font-weight: normal;
}

p {
    font-family: 'Muli Light', sans-serif;
}

ul {
    list-style: square;
}

strong {
    color: #231f20;
}

nav {
    text-align: center;
}


img {
    width: 400px;
}
